// COLORS

$primary: #f00f00;
$secondary: #0044ff;
$tertiary: #4e4e4e;

$white: #ffffff;
$black: #000000;

//FONT FAMILY
$pirata-stack: 'Pirata One', cursive;
$roboto-stack: 'Roboto', sans-serif;

// FONT SIZES
// FONT SIZES
$breakpoints: (
    xsmall    : 480px,
    small     : 600px,
    medium    : 768px,
    large     : 992px,
    xlarge    : 1200px,
);
$h2-font-sizes: (
    null    : (3.0rem, 1.4),
    xsmall  : 3.2rem,
    small   : (3.2rem, 1.4),
    medium  : 3.4rem,
    large   : (3.4rem, 1.4),
    xlarge  : 3.6rem,
);
$h3-font-sizes: (
    null    : (1.8rem, 1.4),
    xsmall  : 1.9rem,
    small   : (2.0rem, 1.4),
    medium  : 2.0rem,
    large   : (2.1rem, 1.4),
    xlarge  : 2.1rem,
);

$p-font-sizes: (
    null  : (1.5rem, 1.4),
    xsmall : 1.6rem,
    small: (1.6rem, 1.4),
    medium : 1.7rem,
    large : (1.8rem, 1.4),
    xlarge : 1.8rem,
);
$menu-font-sizes: (
    null  : (1.6rem, 1.4),
);




