@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Roboto:wght@100;300;400;500&display=swap');
h1{
    font-family: $pirata-stack;
    letter-spacing: 1.5px;
    font-size: 4.5rem;
    color:#4a4a4a;
}
h2, h3{
    font-family: $roboto-stack;
    color: $black;
}
h2{
    font-size: 3rem;
    font-weight: 500;
    padding: 1rem 0 0 0;
}
h3{
    @include font-size($h3-font-sizes);
}
p{
    @include font-size($p-font-sizes);
    font-family: $roboto-stack;
    font-weight: 400;
}
a{
    font-family: $roboto-stack;
    color: $white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}