
h1{
    text-align: center;
    background: #000;
    padding-top: 10px;
}
p{
    @include font-size($p-font-sizes);
    color: $black;
    font-weight: 300;
}
body{
    background: rgb(38, 38, 38);
}
div.main{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 0;
    right: 0;
    .outer_wrapper{
        padding: 4rem;
        padding-top: 0;
        
        .wrapper{
            background: rgb(74, 74, 74);
            box-shadow: 6px 6px 10px rgba( #000000, 0.5);
            .box{
                display: grid;
                grid-template-columns: 1fr;
                gap: 2rem;
                color: $tertiary;
                padding: 2rem 3rem;
                .call-boxes{
                    background: $white;
                    padding: 1rem 1.5rem;
                    box-shadow: 0 0 .2rem 0 rgba($black, 0.2);
                    transition: box-shadow 0.3s ease-in-out;
                    &:hover{
                        box-shadow: 0 0 1rem 0 rgba($black, 0.2);
                    }
                }
                @media (min-width: $layout-breakpoint-medium){
                    grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
                }
            }        
        }        
    }
}